$window-width: 100vw;
$window-height: 100vh;
$min-width: 500px;

$light-background: white;
$light-color: black;
$light-box-shadow: 0 5px 20px -4px rgb(0 0 0 / 50%);

$dark-background: rgb(52, 52, 52);
$dark-color: white;
$dark-box-shadow: 0 5px 20px -4px black;
